<div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="shadow-lg rounded">
          <div class="card my-5">
            <div class="card-body">
              <h3 class="card-title text-center">Reset Password</h3>
              <p class="text-center">Please enter a new password and retype the password. Both must be the same.</p>
              <br>
              <form>
                <div class="form-label-group">
                  <div class="row">
                    <div class=col-md-4><label for="newPassword">NEW PASSWORD</label></div>
                    <div class="col-md-8">
                      <input type="password" id="newPassword" name="newPassword" class="form-control" required autofocus>
                    </div>
                  </div>
                  <p id="passwordGuide">* Password must contain at least 2 special characters.</p>
                  <br>
                  <div class="row">
                    <div class=col-md-4><label for="retypepw">RETYPE PASSWORD</label></div>
                    <div class="col-md-8">
                      <input type="password" id="retypepw" name="retypepw" class="form-control" required>
                    </div>
                  </div>
                  <p id="passwordGuide">* Both passwords must be the same.</p>
                </div>
                <br>
                <div class="text-center">
                      <button class="btn btn-lg btn-primary text-uppercase" type="submit">&emsp;&emsp;Submit&emsp;&emsp;</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>